html {
    background-color: rgb(41, 41, 41);
}

textarea {
  resize: none;
}

@media (max-width: 650px) { 
  * {
    cursor: none;
  }
}

textarea {
    width: 100px;
    height: 80px;
}

.mainwindow {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    width: 585px;
    height: 325px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
}

.btn-row {
    position: absolute;
    top: 85%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.btn {
    display: inline-block;
    margin: auto;
    width: 70px;
    height: 70px;

}

.btn-row-button {
    width: 100%;
    height: 100%;
    font-size: 25px;
    border: 3px solid rgb(44, 40, 40);
    border-radius: 100%;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(99, 87, 87);
}

.frq {
    position:absolute;
    width: 300px;
    height: 60px;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#frq {
    width: 100%;
    height: 100%;
    resize: none;
    overflow: hidden;
    font-size: 50px;
}

.noise {
    position:absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 7%;
    transform: translate(-50%, -50%);
}

#noise {
    width: 100%;
    height: 100%;
    resize: none;
    overflow: hidden;
    font-size: 10px;
}

#noiserange {
    width: 300px;
    height: 50px;
    font-size: 20px;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background-image: url(smeter.png);
    background-size: cover;
    background-repeat: no-repeat;
    outline: none; /* Remove outline */
}

input[id=noiserange]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 7px;
    background: #00f114;
    cursor: pointer;
    margin-top: 4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }

.chn {
    position:absolute;
    width: 60px;
    height: 60px;
    top: 25%;
    left: 70%;
    transform: translate(-50%, -50%);
}

#chn {
    text-align: center;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 40px;
}

.btn-shutdown {
  position:absolute;
  top: 11%;
  left: 90%;
  height: 60px;
  width: 100px;
  transform: translate(-50%, -50%);
}

#shutdown {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.527);
  font-size: 30px;
}

.switchCh {
    position:absolute;
    top: 60%;
    left: 80%;
    height: 60px;
    width: 190px;
    transform: translate(-50%, -50%);
}

.switch-btn {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 30px;
    border: 1px solid black;
}

.btnsw {
    display: inline-block;
    margin: auto;
    width: 50px;
    height: 50px;
}

#warning {
    height: 150px;
    position:absolute;
    top: 25%;
    left: 80%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    border: 1px solid black;
    border-radius: 15px;
}

.overlayWindow {
    position:absolute;
    top: 50%;
    left: 77%;
    width: 200px;
    height: 310px;
    transform: translate(-50%, -50%);
    visibility: hidden;
    border: 1px solid rgba(53, 49, 49, 0.979);
    border-radius: 15px;
    text-align: center;
    background-color: black;
    padding: 1%;
    z-index: 200;
}
#chnOTextarea {
    border-radius: 10px;
    height: 70px;
    width: 180px;
    resize: none;
    font-size: 50px;
    text-align: center;
}

.oRow {
    margin: 1px;
}

.oBtn3 {
    width: 30%;
    height: 45px;
    font-size: 20px;
}

.oBtn2 {
    width: 40%;
    height: 30px;
}

.oBtn1 {
    margin-top: 2px;
    width: 94%;
    height: 40px;
    font-size: 20px;
}

.config-btn {
  position:absolute;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
}

#config-btn {
  border: 3px solid gray;
  font-size: 25px;
  height: 50px;
  width: 100px;
}

#config-window {
  visibility: hidden;
  position:absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 5px;
}

.config-control {
  text-align: center;
  height: 60%;
  width: 20%;
  float: left;
  background-color: black;
  border-radius: 5px;
}

.config-control-btn {
  margin-bottom: 20px;
}

#config-save {
  height: 40%;
  width: 80%;
}

#config-back {
  height: 40%;
  width: 80%;
}

#config-del {
  height: 30%;
  width: 80%;
}

.config-textarea {
  height: 30px;
  width: 70px;
}

#config-data-area {
  background-color: rgb(207, 188, 170);
  height: 79%;
  overflow: scroll;
  overflow-x: hidden;
}

.config-row {
  display: inline-block;
  height: 80px;
  width: 95%;
}

.config-input {
  display: inline-block;
  height: 20%;
  width: 100%;
  text-align: center;
  background-color: black;
}

.config-input-btn {
  margin: auto;
  margin-top: 10px;
  height: 70%;
  width: 9%;
}

label {
  font-size: 30px;
}

.default-power-input {
  width: 100%;
}

input[type="checkbox"] {
  height: 30px;
  width: 30px;
}

input[type="radio"] {
  height: 25px;
  width: 25px;
}

#baudrate-input {
  height: 30px;
}

#webport-input {
  height: 30px;
}

#fm-tx-filter-input {
  height: 30px;
  width: 30px;
}

#fm-rx-filter-input {
  height: 30px;
  width: 30px;
}

#power-window {
  background-color: rgb(114, 114, 226);
  visibility: hidden;
  position:absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 100;
  margin: auto;
  text-align: center;
  display: inline-block;
}

.power-window-btn {
  margin-top: 10%;
  height: 60%;
  width: 30%;
}